.advanced {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 18px;

}

.advanced__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 121.52%;
    /* identical to box height, or 44px */

    letter-spacing: 0.01em;

    color: #E9E9E9;

    margin-bottom: 40px;
}

.advanced__intro {
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.advanced__desc-container {
    border: 1px solid #0066FF;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-sizing: border-box;
    margin-right: 18px;

    margin-bottom: 100px;
}

.advanced__title-desc {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 121.52%;

    color: #FFFFFF;
    align-self: center;
    position: relative;
    bottom: 16px;
    background-color: #0428A6;
    margin: 0;
}
